<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oyatech.dch">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.DCH.AppBarOverlay"
        tools:targetApi="31">
        <activity
            android:name=".EditBioDataActivity"
            android:theme="@style/Theme.Material3.DayNight"
            android:parentActivityName=".datacenter.PatientsDataPageActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".vitals.VitalsActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight"
            android:launchMode="standard"
            android:parentActivityName=".datacenter.PatientsDataPageActivity"/>
        <activity
            android:name=".details.DetailActivity"
            android:exported="false"
            android:label="Details"
            android:parentActivityName=".datacenter.PatientsDataPageActivity"
            android:theme="@style/Theme.Material3.DayNight">
        </activity>
        <activity
            android:name=".recordforms.PatientRegistrationFormActivity"
            android:exported="false"
            android:label="New Patient"
            android:theme="@style/Theme.Material3.DayNight"
            android:parentActivityName=".datacenter.PatientsDataPageActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".datacenter.PatientsDataPageActivity"
            android:exported="true"
            android:label="@string/title_activity_patients_data_page"
            android:launchMode="standard"
            android:parentActivityName=".ui.MainActivity" >

        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>