<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.oyatech.dch" >

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar"
        tools:targetApi="31" >
        <activity
            android:theme="@style/Theme.Material3.DayNight.NoActionBar"
            android:name=".details.DetailActivity"
            android:exported="false"
            android:label="Details"
            android:parentActivityName=".datacenter.PatientsDataPage">
        </activity>

        <activity
            android:name=".patient.recordforms.PatientRegistrationFormActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden"
            android:label="New Patient"
            android:theme="@style/Theme.Material3.DayNight" >
        </activity>
        <activity
            android:name=".datacenter.PatientsDataPage"
            android:exported="false"
            android:label="@string/title_activity_patients_data_page"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" >
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>